{% extends "base_generic.html" %}
{% block content %}

<!--inner banner-->
<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Doctors</h1>
      </div>
      <div class="col-md-5">
        <ol class="breadcrumb">
        <!--  <li><a href="{% url 'index' %}">Home</a></li>
          <li class="active">Doctors</li>-->
        </ol>
      </div>
    </div>
  </div>
</div>

<!--Main Content Start-->
<div class="main-content">
  <div class="team-page">
    <div class="container">
      <div class="row">
        {% for doc in doctor_list %}
        <div class="col-md-3 col-sm-6">
          <div class="team-box mb50">
            <div class="team-thumb"> <a href="{{ doc.get_absolute_url }}" class="view"><i class="fa fa-Heart"
                  aria-hidden="true"></i></a> <img src="{{ doc.profile.url }}" alt=""></div>
            <div class="team-text">
              <h5><a href="{{ doc.get_absolute_url }}">{{ doc.first_name }} {{doc.last_name}}</a></h5>
              <br><strong>{{ doc.edu.all|join:"; " }}</strong>
              <br><strong>{{ doc.hospital.all|join:"; " }}</strong>
              <br><strong>{% if doc.intaverage_rating %} {% for star in doc.intaverage_rating %} ⭐ {% endfor %} {% endif %} ({{doc.doctor_review_set.all.count}} reviews)</strong>
          </div>
        </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content%}
