<!DOCTYPE html>
<html>
{% extends "base_generic.html" %}
{% load static %}
{% block content %}


<!--inner banner-->
<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Doctors Details</h1>
      </div>
      <div class="col-md-5">
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li class="active">Doctors Details</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--inner banner End-->

<!--Main Content Start-->
<div class="main-content">
  <div class="team-details">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="team-detail-img"> <img src="{{doctor.profile.url}}" alt=""> </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="team-details-text">
            <div class="sectio-title-2"> <strong>{{ doctor.edu.all|join:"; " }}</strong>
            <div class="sectio-title-2"> <strong>{{ doctor.hospital.all|join:", "}}</strong>
              <h2>{{ doctor.first_name }} {{ doctor.last_name }}</h2>
              <h4>{% if doctor.doctor_review_set.all %}{% if doctor.intaverage_rating %} {% for star in doctor.intaverage_rating %} ⭐ {% endfor %} ({{doctor.doctor_review_set.all.count}} reviews) {% endif %}{% endif %}</h2>
            </div>
            <p>(Doctor Details)</p>
          </div>
        </div>
      </div>
      <!--
      <div class="row">
        <div class="col-md-12">
          <div class="team-exp">
            <div class="sectio-title-2"> <strong>{{ object.speciality }}</strong>
              <h2>Experiences</h2>
            </div>
            {{ object.experience}}
          </div>
        </div>
      </div>-->

    <!--Testimonials Start-->
    <div class="col-md-12">
      <div class="home-testimonials">
        <div class="sectio-title-2"> <h3>Reviews</h3>
        </div>
        <div class="item">
          <div class="testimonial-holder">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <div class="sectio-title-2"> <strong>Review your experience!</strong></div>

            <form action="{% url 'doctor_add_review' doctor.id %}"  method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="book-app" type="submit" value="Add"/>
            </form>
          </div>
        </div>
              <!--Slider Start-->
          {% for review in doctor.doctor_review_set.all %}
          <div class="item">
            <div class="testimonial-holder">
              <div class="user-thumb"> <img src="" alt=""> <strong>{{ review.user_name }}</strong>
                <i>{% for star in review.get_rating %} ⭐ {% endfor %}</i><br><i>{{ review.get_date }}</i> </div>
              <div class="test-text">
                <p>{{ review.comment }}</p>
              </div>
            </div>
          </div>
          {% endfor %}

          <!--Slider End-->

      </div>
    </div>
    <!--Testimonials End-->
    </div>
  </div>
</div>
<!--Main Content End-->
{% endblock %}