{% extends "base_generic.html" %}

{% block content %}
<body style="background: linear-gradient(to right,white,blue);">
<table class="table" style="border: none;">
<tr style="border-bottom: 4px solid grey">
    <td style=" border: none; font-size:30px;"><a href="{{ doctorlink }}">
        {{ firstname }}
        </a></td>
    <td style=" border: none; font-size:20px;">{% for star in stars %} ⭐ {% endfor %} by <a href="{% url 'user_review_list' username %}">{{ username }}</a></td>
    <td style=" border: none; font-size:20px;">{{ comment }}</td>

</tr>
</table>
</body>
{% endblock %}

<!--{{ doctor_review.doctor.get_absolute_url }}-->