{% extends "base_generic.html" %}

{% block content %}

<!--inner banner-->
<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Hospitals</h1>
      </div>
      <div class="col-md-5">
        <ol class="breadcrumb">
        <!--  <li><a href="{% url 'index' %}">Home</a></li>
          <li class="active">Doctors</li>-->
        </ol>
      </div>
    </div>
  </div>
</div>

<!--Main Content Start-->
<div class="main-content">
  <div class="team-page">
    <div class="container">
      <div class="row">
        {% for hosp in hospital_list %}
        <div class="col-md-3 col-sm-6">
          <div class="team-box mb50">
            <div class="team-text">
              <h5><a href="{{ hosp.get_absolute_url }}">{{ hosp.name }}</a></h5>
              <br><strong>{{ hosp.city }}</strong>
              <br><strong>{% if hosp.intaverage_rating %} {% for star in hosp.intaverage_rating %} ⭐ {% endfor %} from {% endif %} {{hosp.hospital_review_set.all.count}} reviews</strong>
          </div>
        </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content%}
