{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ hospital.name }}</h1>
  
 <!-- <p><strong>Author:</strong> <a href="">{{ book.author }}</a></p>--> <!-- author detail link not yet defined -->
  <p><strong>Beds:</strong> {{ hospital.beds }}</p>
  <h3> ambulance details</h>
{% for amb in hospital.ambulance_set.all %}
  
  <h5>{{ amb.key2}})ambulance type: {{ amb.ambvehicletype}}</h5>
  <h5> capcity:{{ amb.vehiclecapacity}}</h5>
  {% endfor %}
<h3> Hospital contact details</h>
{% for phone in hospital.hospphoneno_set.all %}
       <h5> {{phone.phonenumber}}</h5>
      {% endfor %}
<!-- <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in book.bookinstance_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
      </p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    {% endfor %}
  </div>-->
  {% if hospital.hospital_review_set.all %}

  <p>{{ hospital.hospital_review_set.count }} reviews ({{ hospital.average_rating | floatformat }} average rating)</p>
 
  

  
  <br>
  <br>
  <div>
    {% for review in hospital.hospital_review_set.all %}
    <div>
        <em>{{ review.comment }}</em>
        <h6>Rated {{ review.rating }} of 5 by {{ review.user_name }}</h6>
        <h5><a href="{{ review.get_absolute_url }}">
        Read more
        </a></h5>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews for this hospital yet</p>
{% endif %}
  <h3>Add your review</h3>
  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  
  <form action="{% url 'hospital_add_review' hospital.id %}"  method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Add" />
  </form>
 
{% endblock %}
