{% extends "base_generic.html" %}

{% load static %}
{% block content %}
{% if doctor_list %}
<!--Main Content Start-->
<div class="main-content">
  <div class="team-page">
    <div class="container">
      <div class="row">
        {% for doc in doctor_list %}
        <div class="col-md-3 col-sm-6">
          <div class="team-box mb50">
            <div class="team-thumb"> <a href="{{ doc.get_absolute_url }}" class="view"><i class="fa fa-Heart"
                  aria-hidden="true"></i></a> <img src="{{ doc.profile.url }}" alt=""></div>
            <div class="team-text">
              <h5><a href="{{ doc.get_absolute_url }}">{{ doc.first_name }} {{doc.last_name}}</a></h5>
              <br><strong>{{ doc.edu.all|join:"; " }}</strong>
              <br><strong>{{ doc.hospital.all|join:"; " }}</strong>
              <br><strong>{% if doc.intaverage_rating %} {% for star in doc.intaverage_rating %} ⭐ {% endfor %} {% endif %} ({{doc.doctor_review_set.all.count}} reviews)</strong>
          </div>
        </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if hospital_list %}
  <!--Main Content Start-->
<div class="main-content">
  <div class="team-page">
    <div class="container">
      <div class="row">
        {% for hosp in hospital_list %}
        <div class="col-md-3 col-sm-6">
          <div class="team-box mb50">
            <div class="team-text">
              <h5><a href="{{ hosp.get_absolute_url }}">{{ hosp.name }}</a></h5>
              <br><strong>{{ hosp.city }}</strong>
              <br><strong>{% if hosp.intaverage_rating %} {% for star in hosp.intaverage_rating %} ⭐ {% endfor %} from {% endif %} {{hosp.hospital_review_set.all.count}} reviews</strong>
          </div>
        </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %} 
{% if not doctor_list and not hospital_list %}
<h2 style="text-align: center; "><span style='font-size:150px; align-self:auto;' >&#9785;</span></h2>
<div class="col-md-12 col-sm-12">
  
  <h2 style="text-align: center; color: black;">No results found for your query. You may want to enlist your query.</h2>
  </div>
{% endif %}
{% endblock %}
