{% extends "base_generic.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'myhub/style.css' %}">
{% block content %}
<body style="background: linear-gradient(to right,white,blue);">
 <p> <h1>Doctor List</h1></p>
  {% if doctor_list %}
  
    
      <table class="table" style="border: none;">
        <tbody>
          {% for doc in doctor_list %}
          
          <tr style="border: none;">
       <td style=" border: none; font-size:30px;"> {{ doc.first_name }} {{doc.last_name}}</td>

   <td style="border: none;">    
          <button type="button">
          <a href="{{ doc.get_absolute_url }}">View Details</a>
        </button>
        </td>
    </tr>
     
      {% endfor %}
      </tbody>
      </table>
      
   
  
  {% else %}
    <p>No doctors presently available.</p>
  {% endif %}
  
  <p> <h1>Hospital List</h1></p>
  {% if hospital_list %}
  
  

    <table class="table" style="border: none;">
      <tbody>
        {% for hosp in hospital_list %}
        
        <tr style="border: none;">
     <td style="border: none;font-size:30px;"> {{ hosp.name }}</td>

 <td style="border: none;">    
        <button type="button">
        <a href="{{ hosp.get_absolute_url }}">View Details</a>
      </button>
      </td>
  </tr>
   
    {% endfor %}
    </tbody>
    </table>
  
  {% else %}
    <p>No hospitals presently listed.</p>
  {% endif %}
</body>
{% endblock %}
