{% extends "base_generic.html" %}
{% block content %}
<body>
<br>
<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Reviews by {{user.username}}</h1>
      </div>
      <div class="col-md-5">
        <ol class="breadcrumb">
        <!--  <li><a href="{% url 'index' %}">Home</a></li>
          <li class="active">Doctors</li>-->
        </ol>
      </div>
    </div>
  </div>
</div>

{% if review_list %}
<!--<table class="table" style="border: none;">-->
    <div class="main-content">
      
      <div class="team-details">
        <div class="container">
        <div class = "row">
    <div class="col-md-12">
        <div class="home-testimonials">
            <div class="sectio-title-2"> <h3>Doctor Reviews</h3>
            </div>
            {% for review in review_list %}            
            <div class="item">
              <div class="testimonial-holder">
                <div class="user-thumb"> <img src="{{review.profileurl}}" alt="" width="150" height="150"> 
                  <i>{% for star in review.rating %} ⭐ {% endfor %}</i><br><i>{{ review.doctor_name }}</i> </div>
                <div class="test-text">
                  <p>{{ review.comment }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
  
            <!--Slider End-->
  
        </div>
      </div>
      <!--Testimonials End-->
      </div>
    </div></div></div>
    <!--
<div>
    {% for review in review_list %}
    
    
    <tr style="border-bottom: 4px solid grey">
        <td style=" border: none; font-size:30px;"><a href="{{ review.doctor.get_absolute_url }}">
            {{ review.doctor.first_name }}
            </a></td>
        <td style=" border: none; font-size:20px;">{% for star in review.get_rating %} ⭐ {% endfor %}</td>
        <td style=" border: none; font-size:20px;">{{ review.comment }}</td>
    
     </tr>

    {% endfor %}
</div>
</table>-->
{% else %}
<p>No doctor reviews are available.</p>

{% endif %}

<br>
{% if hospital_review_list %}
<div class="team-details">
  <div class="container">
  <div class = "row">

<div class="col-md-12">
    <div class="home-testimonials">
        <br>
        <div class="sectio-title-2"> <h3>Hospital Reviews</h3>
        </div>
        {% for review in hospital_review_list %}
        <div class="item">
          <div class="testimonial-holder">
            <div class="user-thumb"> <img src="{{review.profileurl}}" alt="" width="150" height="150"> 
              <i>{% for star in review.rating %} ⭐ {% endfor %}</i><br><i>{{ review.hospital_name }}</i> </div>
            <div class="test-text">
              <p>{{ review.comment }}</p>
            </div>
          </div>
        </div>
        {% endfor %}

        <!--Slider End-->

    </div>
  </div>
  <!--Testimonials End-->
  </div>
</div></div></div>

{% else %}
<p>No hospital reviews are available.</p>
{% endif %}
</div>
</body>
{% endblock %}
