      .box {
      width: 500px;
      padding: 40px;
      border: 2px solid #bf0310;
      background: white;
      text-align: center;
      transition: 0.25s;
      justify-content:center;
      align-items:center;
      width:500px;
      
    }
  
    .box input[type="text"], .box input[type="password"] {
      border: 0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #bf0311;
      padding: 10px 10px;
      width: 250px;
      outline: none;
      color:#bf0311;
      border-radius: 24px;
      transition: 0.25s;
  }
  
  .box h1 {
      color: #bf0311;
      text-transform: uppercase;
      font-family: 'Rubik', sans-serif;

  }
  
  .box input[type="text"]:focus,
  .box input[type="password"]:focus{
      width: 300px;
      border-color: #bf0311;
  }
  
  .box input[type="submit"] {
      border: 0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #bf0311;
      padding: 14px 40px;
      outline: none;
      color:#bf0311;
      border-radius: 24px;
      transition: 0.25s;
      cursor: pointer
  }
  
  .box input[type="submit"]:hover {
      background: #2ecc71
  }
  
  button {
      background-color:#bf0311; 
      color:white;
  }

  .text-muted{
      color:#bf0311;
  }
  
  label{
      color:#bf0311;
  }
