.counter {
    padding: 30px 30px;
    border-radius: 5px;
    text-align: center;
    padding-left: 500px;
   
}
.count-title {
    font-size: 60px;
    font-weight:bold;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 30px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-weight: bolder;
}

.fa-2x {
    margin: 0 auto;
    font-size: 30px;
    float: none;
    display: table;
    color: #1a0a75;
}
    
    .navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
  padding-top: 4px;
  
  font-size: larger;
}
.navbar-custom{
  background-color: rgb(10, 11, 71);
}

.background {
    background-color: #cccccc;
    font-family: 'Montserrat', sans-serif;
    
}

.searchfield {
      text-align: center;
}

.main_container{
font-family: 'Rubik', sans-serif;

    
}
h3
{
    color:black;
    font-size: medium;
}
.fontSize span {
    display: inline-block;
    font-size: 26px;
  }
  
  
  /*BOX*/
  .gridGroup {display:flex; margin-bottom:10px;}
  .grid {position:relative; width:100px; height:50px; margin:0 10px 10px 0; border:1px solid blue; text-align:center;}
  .grid:before {content:""; position:absolute; top:0; left:50%; transform:translateX(-50%); width:2px; height:100%; background:red;}