{% extends "base_generic.html" %}
{% load static %}

{%block content%}

<head>
    <link rel="stylesheet" href="{% static 'forms.css' %}">

  </head>
<body>
    <!--inner banner-->
<div class="inner-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Enlist University!</h1>
        </div>
        <div class="col-md-5">
          <ol class="breadcrumb">
          <!--  <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active">Register</li>-->
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!--inner banner End-->

  <div class="main-content-enlist">
            <div class="col-md-3">
                <div class="" card>
                    <form class="box" method="post" action="{% url 'enlistuni' %}">
                        {% csrf_token %}
                       <p> <h1>Enlist UNI</h1></p>
                        {%for fields in form%}
                        <p style="color: white;">{{fields.label_tag}}</p>
                        <p>{{fields}}</p>
                        {%endfor%}
                        <button class="btn btn-outline-info" type="submit">Sign Up</button>

                   
                
                   
                                           
                    </form>
                </div>
            </div>
</div>

</body>
{% endblock %}