{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'forms.css' %}">
  </head>
<body>
    

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form class="box" method="post" action="{% url 'register' %}">
                        {{% csrf_token %}
                        <h1>Register</h1>
                        <p style="color: white;">{{ form.username.label_tag }}</p>
                        <p>{{form.username}}</p>
                        <p style="color: white;">{{ form.password1.label_tag }}</p>
                        <p>{{form.password1}}</p>
                        <p style="color: white;">{{ form.password2.label_tag }}</p>
                        <p>{{form.password2}}</p>
                        <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Sign Up</button>

                   
                
                    <p style="color: white;">If you already have an account <a href="{% url 'login'%}?next={{request.path}}" target="blank"><strong>login</strong></a> instead.</p>
                                           
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>
{% endblock %}