{% extends "base_generic.html" %}
{% load static %}

{% block content %}


<!--inner banner-->
<div class="inner-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Register</h1>
        </div>
        <div class="col-md-5">
          <ol class="breadcrumb">
          <!--  <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active">Register</li>-->
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!--inner banner End-->

  <!--Main Content Start-->
  <div class="main-content">
    <div class="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% if messages %}
            <div class="alert alert-success" id="alert-msg">
              {% for message in messages %}
              <p>{{ message }}</p>
              {% endfor %}
            </div>
            {% endif %}
            <form action="{% url 'register' %}" method="post">
              {% csrf_token %}
              <div class="contact-form">
                <div class="col-md-12">
                  <h3>Register yourself!</h3>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <p>{{ form.username.label_tag }}</p>
                    <p>{{form.username}}</p>
                  </div>
                </div>
                <div class="col-md-12">
                    <div class="input-group">
                        <p>{{ form.password1.label_tag }}</p>
                        <p>{{form.password1}}</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input-group">
                        <p>{{ form.password2.label_tag }}</p>
                        <p>{{form.password2}}</p>
                    </div>
                </div>
                <div class="col-md-8">
                  <div class="input-group text-center">
                    <input type="submit" class="submit-btn" value="Sign Up Now!">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Main Content End-->
{% endblock %}