

{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'forms.css' %}">
</head>
<body>
<!--inner banner-->
<!--inner banner-->
<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Login</h1>
      </div>
    </div>
  </div>
</div>
<!--inner banner End-->
<!--inner banner End-->


{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
     
   
 
<div class="main-content-enlist">
        <div class="col-md-3 " >
            <div class="" card>
                <form class="box" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <h1>Login</h1>
                    <p class="text-muted"> Please enter your login and password!</p> 
                    <p style="color: white;">{{ form.username.label_tag }}</p>
                    <p>{{ form.username }}</p>
                    <p style="color: white;">{{ form.password.label_tag }}</p>
                    <p>{{ form.password }}</p>
                    <input type="submit" value="login" >
                    <input type="hidden" name="next" value="{{ next }}" >
                                       
                </form>
            </div>
        </div>
    </div>
</div>
</div></div>
{% endif %}
{% endif %}
</body>
<!--
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
-->

{% endblock %}
