{% load static %}
<footer class="footer">
  <div class="footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="widget"> <h3>HospitalHub</h3>
            <p>HospitalHub facilitate users/patients who wish to seek state-of-the-art medical
              treatment through a peer reviewed and rated system.When in times of medical need, we firmly believe that one should not have to
              exploit what-not(!) helplessly to find the best treatment. There is a prudent
              requirement of a reliable peer-reviewed and rated system which is designed to
              be honest and transparent, to allow users to find the best treatment for their
              need. </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="widget">
            <h3>COMPANY</h3>
            <ul>
              <li><a href="">About Us</a></li>
              <li><a href="{% url 'privacy' %}">Privacy</a></li>
              <li><a href=""></a></li>
            </ul>
          </div>
        </div>
        {% if user.is_authenticated %}
        <div class="col-md-3 col-sm-6">
          <div class="widget">
            <h3>ENLIST YOURSELF</h3>
            <ul>
                <li><a href="{% url 'enlistdoctor' %}">Doctor</a></li>
                <li><a href="{% url 'enlisthospital' %}">Hospital</a></li>
                <li><a href="{% url 'enlistdegree' %}">Medical Degree</a></li>
                <li><a href="{% url 'enlistuni' %}">Medical University</a></li>
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="footer-cr">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p><strong>HospitalHub!</strong> © All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>