{% load static %}
<header class="site-header">
  <div class="nav-logo-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle
                  navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                  class="icon-bar"></span> </button>
              <a class="navbar-brand" href="{% url 'index' %}"><img src="" {% static 'heartcare/images/logo.png' %}"
                  alt="">HospitalHub</a> </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'hospitals' %}">Hospitals</a></li>
                <li><a href="{% url 'doctors' %}">Doctors</a></li>
                {% if user.is_authenticated %}
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">Enlist<span class="fa fa-angle-down"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'enlistdoctor' %}">Doctor</a></li>
                    <li><a href="{% url 'enlisthospital' %}">Hospital</a></li>
                    <li><a href="{% url 'enlistdegree' %}">Medical Degree</a></li>
                    <li><a href="{% url 'enlistuni' %}">Medical University</a></li>
                  </ul>
                </li>
                {% endif %}
              </ul>

              <ul class="nav navbar-nav navbar-right">
               
                <li><form name="searchform" method="GET" action="{% url 'search' %}"> 
                  <input type="text" name="search" placeholder="Search" />
              </form></li>
              {% if user.is_authenticated %}
                <li ><a href="{% url 'user_review_list' user.username %}">User: {{ user.get_username }}</a></li>
                <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                {% else %}
                <li ><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>    
                {% endif %}
                <li><a href="{% url 'register' %}?next={{request.path}}">New? Register now!</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
