{% load static %}
<div class="main-slider">
    <div id="main-slider" class="owl-carousel owl-theme">
      <div class="item">
          <div class="slide-caption slide-2">
            <div class="container">
              <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h1>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a class="btn-1" href="#">Hospitals</a> <a class="btn-1" href="#">Doctors</a>
            </div>
          </div>
          <span class="simg"><img src="{%static 'images/doctor.jpg'%}}" alt=""></span>
        </div>
        <div class="item">
            <div class="slide-caption slide-2">
              <div class="container">
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h1>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a class="btn-1" href="#">Hospitals</a> <a class="btn-1" href="#">Doctors</a>
              </div>
            </div>
            <span class="simg"><img src="{%static 'images/doctor.jpg'%}}" alt=""></span>
          </div>
          <div class="item">
            <div class="slide-caption slide-2">
              <div class="container">
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h1>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a class="btn-1" href="#">Hospitals</a> <a class="btn-1" href="#">Doctors</a>
              </div>
            </div>
            <span class="simg"><img src="{%static 'images/doctor.jpg'%}}" alt=""></span>
          </div>
    </div>
  </div>